<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Chat</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="header">
        <button>Chat</button>
        <button>Users</button>
        <button onclick="logout()">Logout</button>
    </div>
    <div class="chat-container">
        <div class="message-and-input">
            <div class="messages" id="messages">
                <!-- Messages will be displayed here -->
            </div>
            <div class="message-input">
                <input type="text" id="message" placeholder="Type your message here...">
                <button>Send</button>
            </div>
        </div>
        <div class="user-list">
            <h3>현재: </h3>
            <ul id="users">
                <!-- User list will be displayed here -->
            </ul>
        </div>
    </div>

    <script>
        function logout() {
            fetch('/user/sign-out', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(res => {
                if (res.ok) {
                    window.location.href = '/user/sign-in';
                } else {
                    alert('로그아웃 실패!');
                }
            }).catch(err => {
                console.error('Error:', err);
                alert('로그아웃 실패!');
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            const socket = io('/chat');

            socket.on('connect', () => {
                console.log('Connected to chat namespace');
            });

            socket.on('disconnect', () => {
                console.log('Disconnected from chat namespace');
            });

            socket.on('newMessage', (message) => {
                const message = document.getElementById('message');
                const messageElement = document.createElement('div');
                messageElement.textContent = message;
                messages.appendChild(messageElement);
            });

            const sendButton = document.getElementById('sendButton');
            sendButton.addEventListener('click', () => {
                const messageInput = document.getElementById('message');
                const message = messageInput.value;
                socket.emit('sendMessage', message);
                messageInput.value = '';
            });
        });
    </script>
</body>

</html>